
body {
  color: #333;
  font-family: Verdana,sans-serif;
  margin:0;
  
}


header {
   background-color: #efefef;
   padding-top: 32px;
   padding-bottom:32px;
}

.container{
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  align-items: center;
}

.icon img{
  border-radius:50%;
  border-width:4px;
  border-style:solid;
  border-color:white;
}

.info{
  margin-left:32px;
}

.info h1{
  font-weight:normal;
  font-size:24px;
  margin:0;
}

.info p{
  margin:0;
  margin-bottom:16px;
}

.info ul{
  margin:0;
  padding:0;
  list-style-type:none;
  display: flex;
}

.info ul li{
  margin-right:8px;
}


li{
  list-style:none;
}

.title{
  display:flex;
  background-color:#fccedd;
  margin-bottom:40px;
}


.title-list{
  float:left;
}
.title-list li{
  float:left;
  padding:33px 20px 33px 20px;
  font-weight:normal;
  font-size:24px;
}

 .title-list a{
  text-decoration:none;
  color:black;
}

main {
  text-align: center;
}
main b{
  font-size:30px;
  margin-top:150px;
}

.mgl10{
  margin-left:10px;
}

strong{
  color:rgb(228, 19, 36);  
  font-family: 'Noto Serif JP', sans-serif;
  font-size:25px;
}

.contens{
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
}

.sentence{
  display:inline-block;
  text-align:left;
  margin-bottom:30px;
}

.contens>h1{
  font-weight:normal;
}

#theme1,#theme2,#theme3,#theme4,#theme5{
  text-align:center;
  padding:32px;
  background-color:rgb(238, 207, 32);
  border-radius:50%;
  border-width:4px;
  border-style:solid;
  border-color:red;

}

.third{
  color: rgb(107, 16, 224);
  font-size:35px;
}

.second{
  color: rgb(226, 194, 10);
  font-size:35px;
}

.first{
  color: rgb(245, 81, 81);
  font-size:35px;
}

.sentence a{
  font-size:15px;
}

.singer{
  font-size:35px;

  }
}

.book{
  font-size:35px;
  color:blue;
}

.writer{
  font-size:25px;
  color:rgb(236, 135, 104);
}

footer p{
  text-align:center;
  font-size:14px;
  margin-bottom:60px;
  color:gray;
  
}